<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="./index.html"><img src="./assets/img/logo.png" alt=""></a>
                    </div>
                    <p>Đọc sách hay cũng giống như được trò truyện với các bộ óc tuyệt vời nhất của những thế kỷ đã trôi qua.</p>
                        <p><i>  "The reading of all good books is like a conversation with the finest minds of past centuries."</i></p>
                        <p><i>   -Rene Descartes-</i></p>
                    <div class="footer__payment">
                        <a href="#"><img src="./assets/img/payment/payment-1.png" alt=""></a>
                        <a href="#"><img src="./assets/img/payment/payment-2.png" alt=""></a>
                        <a href="#"><img src="./assets/img/payment/payment-3.png" alt=""></a>
                        <a href="#"><img src="./assets/img/payment/payment-4.png" alt=""></a>
                        <a href="#"><img src="./assets/img/payment/payment-5.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-5">
                <div class="footer__widget">
                    <h6>Ovo</h6>
                    <ul>
                        <li><a href="#">Giới Thiệu</a></li>
                        <li><a href="#">Tin Tức</a></li>
                        <li><a href="#">Liên Hệ</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="footer__widget">
                    <h6>Tài khoản của tôi</h6>
                    <ul>
                        <li><a href="#">Thông Tin</a></li>
                        <li><a href="#">Theo Dõi Đơn Hàng</a></li>
                        <li><a href="#">Thanh Toán</a></li>
                        <li><a href="#">Danh Sách Yêu Thích</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-8">
                <div class="footer__newslatter">
                    <h6>Nhận thông báo</h6>
                    <form action="#">
                        <input type="text" placeholder="Email của bạn">
                        <button type="submit" class="site-btn">Đăng Ký</button>
                    </form>
                    <div class="footer__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <div class="footer__copyright__text">
                    <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                </div>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </div>
</footer>